/* components/canteen/canteen.wxss */
.custom-class {
  background-color: #fff;
  border-radius: 15rpx;
}

.title-class {
  font-size: 27rpx;
}

.desc-class {
  margin-top: 10rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .description-2 {
    margin-top: 10rpx;
    display: flex;
    justify-content: space-between;

    .tags {
      font-size: xx-small;
    }
  }

  .description-1 {
    display: flex;
    justify-content: space-between;

    .description-1-icon {
      font-size: 20rpx;
    }
  }
}

.tags-wrapper {
  overflow: hidden;
  white-space: nowrap;

  .tags {
    margin-right: 10rpx !important;
    margin-top: 20rpx;
    font-size: 16rpx;
    //padding: 2rpx 4rpx;
    height: 25rpx;
  }
}
