.card-wrapper {
  margin: 20rpx 0;
  background-color: #fff;
  padding: 20rpx 20rpx;
  border-radius: 20rpx;

  .card-top-wrapper {
    display: flex;
    justify-content: space-between;

    .left-card-wrapper {
      flex: 1;
    }

    .right-card-wrapper {
      flex: 5;
      padding: 10rpx 10rpx;

      .nickname {
        font-weight: bold;
      }

      .card-info {
        padding-top: 10rpx;
        padding-bottom: 20rpx;
        font-size: 26rpx;
      }

      .card-all-image {
        flex-flow: nowrap;

        .card-image {
          padding-right: 9rpx;
        }
      }
    }
  }

  .card-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card-time {
      font-size: 24rpx;
    }

    .card-button-wrapper {
      display: flex;
      padding: 10rpx 30rpx;

      .card-time {
        padding-left: 40rpx;
      }

      .button-good-job {
        margin-right: 30rpx;
      }
    }
  }
}