.top-tabBar-wrapper {
  margin-bottom: 300rpx;

  .card-wrapper {
    display: flex;
    justify-content: center;
  }

  .confessionWall-wrapper {
    margin: 0 40rpx;
  }

  .search-search {
    .search-title {
      display: flex;
      align-items: center;
      font-size: 21rpx;
      background-color: #fff;
      margin: 0;

      .search-button-find {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20rpx 0 20rpx;
        .search-button-find-text {
          margin-right: 8rpx;
        }
        .search-button-find-icon {
          font-size: 45rpx;
        }
      }

      .search-button-search {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .search-button-search-text {
          margin-right: 8rpx;
        }

        .search-button-search-icon {
          font-size: 45rpx;
        }
      }

      .search-wrapper {
        flex: 1;
      }

      .active-search {
        color: #ED4450;
      }
    }

    .search-card-wrapper {
      padding: 20rpx 20rpx;

      .search-card {
        background-color: #fff;
        border-radius: 20rpx;
        margin-bottom: 20rpx;
      }
    }
  }
}