.top-tabBar-wrapper {
  margin-bottom: 300rpx;

  .card-wrapper {
    margin: 20rpx 40rpx;
    background-color: #fff;
    padding: 20rpx 20rpx;
    border-radius: 20rpx;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

    .card-top-wrapper {
      display: flex;
      justify-content: space-between;

      .left-card-wrapper {
        flex: 1;
      }

      .right-card-wrapper {
        flex: 5;
        padding: 10rpx 10rpx;

        .nickname {
          font-weight: bold;
        }

        .card-info {
          padding-top: 10rpx;
          padding-bottom: 20rpx;
          font-size: 26rpx;
        }

        .card-all-image {
          flex-flow: nowrap;

          .card-image {
            padding-right: 9rpx;
          }
        }
      }
    }

    .card-bottom-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card-time {
        font-size: 24rpx;
      }

      .card-button-wrapper {
        display: flex;
        padding: 10rpx 30rpx;

        .card-time {
          padding-left: 40rpx;
        }

        .button-good-job {
          margin-right: 30rpx;
        }
      }
    }
  }

  .search-search {
    display: flex;
    align-items: center;
    font-size: 20rpx;
    background-color: #fff;

    .search-button-find {
      height: 100%;
      flex: 2;
      display: flex;
      justify-content: center;
    }

    .search-button-search {
      height: 100%;
      flex: 2;
      display: flex;
      justify-content: center;
    }

    .search-wrapper {
      flex: 4;
    }
  }

  .my-wrapper {
    margin: 20rpx 40rpx;
    background-color: #fff;
    padding: 20rpx 20rpx;
    border-radius: 20rpx;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

    .my-top-wrapper {
      display: flex;
      justify-content: space-between;

      .left-my-wrapper {
        flex: 1;
      }

      .right-my-wrapper {
        flex: 5;
        padding: 10rpx 10rpx;

        .nickname {
          font-weight: bold;
        }

        .my-info {
          padding-top: 10rpx;
          padding-bottom: 20rpx;
          font-size: 26rpx;
        }

        .my-all-image {
          flex-flow: nowrap;

          .my-image {
            padding-right: 9rpx;
          }
        }
      }
    }

    .my-bottom-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .my-time {
        font-size: 24rpx;
      }

      .my-button-wrapper {
        display: flex;
        padding: 10rpx 30rpx;

        .my-time {
          padding-left: 40rpx;
        }

        .button-good-job {
          margin-right: 30rpx;
        }
      }
    }
  }
}