.content {
  padding: 30rpx 40rpx;

  .top {
    display: flex;
    align-items: center;

    .left-mine-wrapper {
      margin-right: 40rpx;
    }

    .right-mine-wrapper {
      .mine-info {
        display: flex;

        .nickname {
          margin-right: 40rpx;
        }

        .vip {

        }
      }

      .mine-desc {
        margin-top: 20rpx;
      }
    }
  }

  .entrance {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80rpx;

    .ordered {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .store {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .follow {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .fans {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  .recommend-goods {
    .recommend-title {
      margin-bottom: 20rpx;
      padding-left: 20rpx;
      font-size: 28rpx;
    }

    .recommend-goods-info {
      background-color: #fff;
      border-radius: 20rpx;
      padding: 30rpx 0;

      .card-all-image {
        flex-flow: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        .card-image {
          padding-right: 9rpx;
        }
      }
    }
  }

  .recommend-card {
    .recommend-title {
      margin: 40rpx 0 20rpx;
      font-size: 28rpx;
    }
  }
}