.content {
  .background-image {
    filter: blur(10rpx);
  }

  .title {
    position: relative;
    top: -170rpx;
    z-index: 999;

    .top-mine-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .bottom-mine-wrapper {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.9);
      top: 80rpx;
      left: 50%;
      margin-left: -300rpx;
      width: 600rpx;
      z-index: -1;
      height: 300rpx;
      border-radius: 20rpx;
      padding-top: 100rpx;
      display: flex;
      flex-direction: column;

      .bottom-title-mine-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .nickname {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20rpx;
        }
      }

      .bottom-info-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20rpx;

        .focus {
          border-right: 3rpx solid #000;
          margin-right: 20rpx;
          padding-right: 20rpx;
        }

        .fans {
          border-right: 3rpx solid #000;
          margin-right: 20rpx;
          padding-right: 20rpx;
        }
      }


    }
  }
}